<html>
<title>W3.CSS Template</title>
<html  lang="fa" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>صفحه اصلی</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">

<style>
    body, html {
        height: 100%;
        font-family: "Inconsolata", sans-serif;
    }

    .bgimg {
        background-position: center;
        background-size: cover;
        background-image: url("/picture/job.jpg");
        min-height: 75%;
    }

    .menu {
        display: none;
    }
</style>
<body>

<!-- Links (sit on top) -->
<div class="w3-top">
    <div class="w3-row w3-padding w3-black">
        <div class="w3-col s3">
            <a th:href="@{/}" class="w3-button w3-block w3-black">صفحه اصلی</a>
        </div>
        <div class="w3-col s3">
            <a th:href="@{/public/register}" class="w3-button w3-block w3-black">ورود</a>
        </div>
        <div class="w3-col s3">
            <a th:href="@{/resumeBuilder}" class="w3-button w3-block w3-black">رزومه ساز</a>
        </div>
        <div class="w3-col s3">
            <a th:href="@{/list_users}" class="w3-button w3-block w3-black">تست لاگین</a>
        </div>
        <div class="w3-col s3">
            <a th:href="@{/کاریابی}" class="w3-button w3-block w3-black">کاریابی</a>
        </div>
    </div>
</div>

<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
    <div class="w3-display-middle w3-center">
        <span class="w3-text-white" style="font-size:90px">the<br>Cafe</span>
    </div>
    <div class="w3-display-bottomright w3-center w3-padding-large">
        <span class="w3-text-white">15 Adr street, 5015</span>
    </div>
</header>


<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-48 w3-large">
    <p>پروژه پایانی</p>
</footer>

<script>
    // Tabbed Menu
    function openMenu(evt, menuName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("menu");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" w3-dark-grey", "");
        }
        document.getElementById(menuName).style.display = "block";
        evt.currentTarget.firstElementChild.className += " w3-dark-grey";
    }
    document.getElementById("myLink").click();
</script>

</body>
</html>
