<!DOCTYPE html>
<html  lang="fa" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>صفحه اصلی</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>

<body>
<div class="container text-center">
    <div>
        <h1>Welcome
          <!--  <b> [[${request.userPrincipal.principal.username}]]</b>-->
        </h1>
    </div>
    <div>
        <h3><a th:href="@{/list_users}">اگه لاگینی این صفحه را میبینی</a> </h3>
    </div>

</div>

hjkl
</body>
</html>